html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Alata';
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}

#HomePageCollection {
  margin: 0;
  padding: 0;
}

#BannerSection {
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ShopNowButton {
  font-size: 14px;
  margin-bottom: 3em;
  background: white;
  color: black;
  width: 10em;
  height: 3.5em;
  display: flex;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
}

.ShopNowButton h3 {
  font-size: 20px;
  font-weight: 300;
}

#ShopNowSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ShopNowSection h2 {
  font-size: 45px;
  margin-top: 1.5em;
}

.itemsCollection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25em;
  margin-right: 21px;
  margin-bottom: 8em;
  border-bottom: 0.068px solid #212121;
}

.item .itemImage {
  width: 100%;
}

.item .itemImage img {
  width: 100%;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.itemInfoContainer .itemInfoTitle {
  font-size: 29px;
  letter-spacing: 6px;
  margin: 0 0 20px 0;
}

.itemInfoContainer .itemInfoPrice {
  font-size: 20px;
  letter-spacing: 8px;
  margin: 0 0 15px 0;
}

#AboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

#AboutSection h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 10px;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  flex-direction: column;
  padding: 40px;
  border: 0.068px solid #212121;
  width: 45%;
  border-radius: 15px;
}

.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.TextImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
}

.TextImageContainer img {
  width: 52%;
  border-radius: 20px;
}

.TextImageContainer p {
  margin: 0 0 0 35px;
  font-size: 17px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .LogoIcon {
    letter-spacing: 1px;
    font-size: 19px;
    margin-left: 0.4em;
  }

  .Pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Pages a {
    font-size: 15px;
  }

  .ShoppingCartIcon {
    margin-right: 0.4em;
  }

  .ShoppingCartIcon svg {
    width: 25px;
  }

  #BannerSection {
    height: 31vh;
  }

  .ShopNowButton {
    font-size: 9px;
  }

  .ShopNowButton h3 {
    font-size: 14px;
  }

  #ShopNowSection h2 {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .itemInfoContainer .itemInfoTitle {
    font-size: 21px;
    letter-spacing: 2px;
  }

  .itemInfoContainer .itemInfoPrice {
    font-size: 18px;
    letter-spacing: 8px;
  }
  .TextImageContainer {
    flex-wrap: wrap;
  }

  .TextImageContainer img {
    margin-bottom: 2em;
    width: 100%;
  }

  .TextImageContainer p {
    font-size: 15px;
    margin: 0;
  }

  .NavLinks {
    flex-wrap: wrap;
  }

  .NavLinks a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
  }

  .SocialLinks svg {
    width: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .TextImageContainer {
    flex-wrap: wrap;
  }

  .TextImageContainer img {
    margin-bottom: 2em;
    width: 100%;
  }

  .TextImageContainer p {
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
