html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: black;
  font-family: 'Alata';
}

body a {
  text-decoration: none;
  color: black;
}

body a:visited {
  color: black;
}

/* Navbar Section */
#NavigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #707070;
  font-size: 32px;
}

.LogoIcon {
  margin-left: 1em;
  letter-spacing: 7px;
}

.Pages {
  font-size: 26px;
}

.Pages .ShopLink {
  margin-right: 35px;
}

.ShoppingCartIcon {
  margin-right: 1em;
}

.ShoppingCartIcon svg {
  width: 40px;
}

/* Checkout Page */
#CheckoutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 2em;
}

#CheckoutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60em;
  border-right: 10px solid;
  padding-right: 50px;
}

#CheckoutSection h1 {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 10px;
}

#CheckoutSection p {
  margin: 0;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 3px;
}

#CheckoutSection form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3em;
}

.contactInfo {
  width: 100%;
  margin-bottom: 5em;
}

.shippingAddress {
  display: flex;
  flex-direction: column;
}

.nameInput {
  display: flex;
  justify-items: center;
  align-items: center;
}

.nameInput div {
  margin-right: 1em;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 17px;
  /* width: 50%; */
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, rgb(9, 78, 99), #28c8f8);
  /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.saveInfoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0 12px 0;
}

.saveInfoContainer input {
  margin: 0 12px 0 0;
}

.saveInfoContainer h5 {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}

.returnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

.returnContainer:hover {
  cursor: pointer;
}

.returnContainer svg {
  transform: rotate(90deg);
  width: 18px;
}

.returnContainer h5 {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
  margin-left: 13px;
}

.submitButton {
  justify-self: flex-end;
  background: black;
  color: white;
  width: 15em;
  height: 4em;
  border-radius: 13px;
  border: 0;
  margin-left: 21em;
  margin-top: 4em;
}

.submitButton h5 {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

#OrderSummary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 60em;
  padding-left: 50px;
}

#OrderSummary .headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#OrderSummary .headerTitle h1 {
  margin: 0;
  margin: 1em 0 0 1em;
  font-weight: 100;
  font-size: 29px;
  letter-spacing: 4px;
}

.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 5em 0;
  height: 35em;
  overflow: auto;
  white-space: nowrap;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.cartItemImage {
  width: 7em;
  margin-right: 1.5em;
  display: flex;
}

.cartItemImage img {
  width: 100%;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10em;
}

.itemDescription h4 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 100;
}

.itemDescription p {
  margin: 0;
  font-size: 19px;
  font-weight: 100;
}

.cartItemPrice {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 5px;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.subtotalContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-bottom: 4px solid;
  padding-bottom: 25px;
}

.subtotalContainer p {
  font-size: 15px;
  margin: 12px 0 0;
}

.subtotalContainer .price {
  display: flex;
  justify-content: space-between;
}

.subtotalContainer .price p {
  font-size: 25px;
  margin: 0;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
}

.totalContainer .totalPrice {
  font-size: 25px;
  margin-right: 13em;
}

.totalContainer .priceTotalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.totalContainer .priceTotalContainer .priceTotalCurrency {
  font-size: 20px;
  margin-right: 10px;
}

.totalContainer .priceTotalContainer p {
  font-size: 25px;
}

/* Footer Section */
#FooterSection a {
  color: white;
}

#FooterSection a:visited {
  color: white;
}

.LinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.NavLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.NavLinks a {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}

.SocialLinks a {
  margin-left: 20px;
  margin-right: 20px;
}
.SocialLinks svg {
  width: 35px;
}
